.dropdown-btn > .ant-dropdown-trigger {
    border: 0px solid red;
}
    .dropdown-btn > .ant-dropdown-trigger > span {
        background-color: #131414;
        color: white;
    }
.dropdown-btn > .ant-dropdown-trigger {
    background-color: #131414 ;
    color: white;
}

.dropdown-btn > .ant-btn {
    color: white;
}
.dropdown-btn > .ant-btn:hover {
    color: white;
}
