:root {
    --black: #000000;
    --textColor: white;
    --greyText: white;
    /* for setting css on <html> */
    --backgroundColor: #333639;
    --modalBackground: rgba(0,0,0,0.6);
    --inputBackground: #202124;
    --placeholderGray: #5F5F5F;
    --shadowColor: #000;
    /* grays  */
    --concreteGray: #292C2F;
    --mercuryGray: #333333;
    --silverGray: #737373;
    --chaliceGray: #7B7B7B;
    --doveGray: #C4C4C4;
    --mineshaftGray: #E1E1E1;
    --activeGray: #292C2F;
    --buttonOutlineGrey: #FAFAFA;
    --tokenRowHover: #404040;
    /*blacks*/
    --charcoalBlack: #F2F2F2;
    /* blues  */
    --zumthorBlue: #212529;
    --malibuBlue: #E67AEF;
    --royalBlue: #DC6BE5;
    --loadingBlue: #e4f0ff;
    /*  purples */
    --wisteriaPurple: #DC6BE5;
    /* reds  */
    --salmonRed: #FF6871;
    /* orange  */
    --pizazzOrange: #FF8F05;
    /* yellows  */
    --warningYellow: #FFE270;
    /* pink  */
    --uniswapPink: #DC6BE5;
    /*green*/
    --connectedGreen: #27AE60;
    /* branded  */
    --metaMaskOrange: #E8831D;
    /* custom */
    --sandBland: #d2d2c9;
    --spartanRed: #a80005;
    --pageBackground: #050303;
    /*radial-gradient(50% 50%, rgba(255, 0, 122, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);*/
    --buttonOrange: #c7692b;
    --spartanGrey: #110d01;
}


@font-face {
    font-family: 'Spartan';
    src: local('Spartan'), url(./assets/font/Spartan-Regular.ttf) format('truetype');
}

* {
    font-family: 'Spartan';
}



h3 {
    font-size: 15px;
}

h6 {
    font-size: 25px;
    text-align: center;
}

wallet {
    font-size: 25px;
    text-align: center;
}


.arrow {
    width: 0.2px;
    height: 0.2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}

.outerContainer {
    color: var(--textColor);
    background-color: #0a0001;
    margin: auto;
    width: 550px;
    border-radius: 2rem;
    border: 0px solid #292C2F;
    /*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.19);*/
}

.container2 {
    color: var(--textColor);
    background-color: var(--spartanGrey);
    margin: 15px;
    height: 200px;
    border-radius: 2rem;
    border: 0.5px solid #292C2F;
    text-align: left;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

Input {
    border-radius: 10rem;
}

button3 {
    background-color: var(--spartanGrey);
    color: var(--buttonOrange);
    width: 0;
    border-radius: 2rem;
    border: 0px solid;
    font-size: 16px;
    padding: 5px 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
}

button2 {
    background-color: var(--buttonOrange);
    color: white;
    width: 150px;
    border-radius: 0rem;
    text-align: center;
    font-size: 18px;
    padding: 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button1 {
    background-color: var(--spartanGrey);
    color: var(--textColor);
    width: 0;
    border-radius: 0rem;
    border: 1px solid var(--buttonOrange);
    margin:auto;
    font-size: 16px;
    padding: 5px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer {
    width: 100%;
    min-height: 40px;
    align-self: flex-end;
    background-color: var(--spartanGrey)
}

header {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    background-color: var(--uniswapPink);
    color: var(--malibuBlue);
    font-weight: 400;
    text-align: center;
}

/* SIDEPANEL CODE ______________________________________________________*/

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border-radius: 0;
    
}

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 40px;
        color: white;
        display: block;
        transition: 0.3s;
       
    }

        .sidepanel a:hover {
            color: #f1f1f1;
        }

    .sidepanel .closebtn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 10px;
    }
    /*_____________________________________________*/
.column {
    
    text-align: center;
    margin: auto;
    float: left;
    width: 50%;
    padding: 0px;  
}

.col-container {
    display: flex; /* Make the container element behave like a table */
    width: 350px; /* Set full-width to expand the whole page */
    margin: auto;
    height: 120px;
    
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    text-align: center;
    margin: auto;
    width: 20%;
    height: 0px;
    padding: 0px;    
}


.col2 {
    display: table-cell; /* Make elements inside the container behave like table cells */
    text-align: center;
    margin: auto;
    width: 20%;
    height: 0px;
    padding: 0px;   
}

/* ______________________________________________________*/


.flexbox_1 {
    display: flex;
    justify-content: center;
}

.centerObject2 {
    text-align: center;
    margin: auto;
    
}


/*___________________________address Modal_________________________________*/
.modal {
   /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 35%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #292C2F;
    width: 60%;
    height: 60%;
    border-radius: 2rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* _______________________________________________________________________________________*/

.ant-input {
    background: #110D01;
    color: #C7692B;
    border: 10px solid #C7692B;
}

.ant-input {
    caret-color: #C7692B;
}

    .ant-input:placeholder-shown {
        color: #000
    }

    .ant-input::selection {
        border-color: #C7692B;
        background: #C7692B;
        caret-color: #C7692B;
    }

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
    color: rgba(255, 255, 255, 0.45);
}

.ant-input-suffix {
    margin: 0;
}

.ant-select-selection {
    border-color: #C7692B;
}

.ant-select-selection-selected-value {
    color: #C7692B;
}

.ant-select-dropdown-menu-item {
    color: rgba(255, 255, 255, 0.65);
}

.ant-select-dropdown-menu-item-selected {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    background-color: lighten(#C7692B, 15%);
}

.ant-select-dropdown-menu-item-active:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #C7692B;
    color: rgba(0, 0, 0, 0.65);
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: lighten(#C7692B, 3%);
    color: rgba(0, 0, 0, 0.65);
}

.ant-select-arrow {
    color: rgba(255, 255, 255, 0.45);
}

.ant-input-number-disabled,
.ant-input[disabled] {
    color: rgba(255, 255, 255, 0.25);
    background: #110D01;
    border: 1px solid #ffffff45;
}

    .ant-input[disabled]:hover {
        border-color: #ffffff40;
        border-right-width: 1px !important;
    }

    .ant-input[disabled]::placeholder {
        color: rgba(255, 255, 255, 0.25);
    }

.ant-radio-button-wrapper:first-child {
    border-left: 1px solid #97948e;
}

.ant-radio-button-wrapper {
    color: #97948e;
    border: 1px solid #97948e;
}

    .ant-radio-button-wrapper:not(:first-child)::before {
        background-color: #000;
    }

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #000 !important;
    opacity: 1;
}

.ant-radio-inner {
    margin: 0;
    border-color: #97948e;
    color: #fff;
    width: 17px;
    border-radius: 50%;
}

    .ant-radio-inner::after {
        left: 4px;
    }

label.ant-radio-wrapper {
    color: #ffffffa6;
}

span.ant-radio + * {
    padding-right: 12px;
    padding-left: 12px;
    vertical-align: middle;
}